.container {
  height: 85%;
  background-color: rgb(48, 48, 48);
}

.sidenav {
  background-color: rgba(95, 95, 95);

}


i {
  padding-right: 9.6px;
  color: white;

 }

 span {
  color: white;
  font-weight: 500;
 }

 .content {
  background-color: rgb(48, 48, 48);
 }
