.home {
  background-color: rgba(95, 95, 95);
  width: 95%;
  margin: 1rem auto;
}

.title{
  color: white;
}

.subtitle{
  color: white;
}

@media(max-width: 450px){
  .home{
    width: 70%;
  }
}

@media(max-width: 770px){
  .home{
    width: 90%;
  }
}
